{% extends 'base.html.twig' %}

{% block title %}Creating insurance object{% endblock %}

{% block body %}

<div class="container">
    {% if app.user %}
        <div class="row justify-content-end">
            <div class="p-2 border-bottom">
                {{ app.user.username }}, <a href="{{ path('app_logout') }}">logout</a>
            </div>
        </div>
    {% endif %}
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
            <a class="nav-link" href="/">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/client/{{ clientId }}">Back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Edit insurance object</a>
        </li>
    </ul>
    <h1 class="text-center mt-4">Edit insurance object</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            {{ form(addInsuranceForm) }}
        </div>
    </div>
</div>
{% endblock %}