{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="d-flex h-100" style="background-image: linear-gradient(#6ab3ff, #191e62);">
    <div class="container">
        <ul class="nav nav-tabs mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/login">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Reset password</a>
            </li>
        </ul>
        <div class="row h-50 justify-content-md-center">
            <div class="col-12 align-self-center">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h1 class="h3 mb-3 font-weight-normal text-center" style="color:#fff;">Reset your password</h1>
            </div>
            <div class="col-md-4 p-4 rounded align-self-center" style="background-color: #fff;">
                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Enter your email address and we will send you a
                            link to reset your password.
                        </small>
                    </div>

                    <button class="btn btn-primary btn-block">Send password reset email</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
