<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body class="h-100" style="background-color: #ecf3fd;">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<header>
			<div class="container">
				{% if app.user %}
					<div class="row justify-content-end">
						<div class="p-2 border-bottom">
							<a href="{{ path('app_logout') }}">logout</a>
						</div>
					</div>
				{% endif %}
				{% if app.request.attributes.get('_route') != "homepage" and app.request.attributes.get('_route') != "app_login" and app.request.attributes.get('_route') != "app_forgot_password_request" and app.request.attributes.get('_route') != "app_register" %}
					<ul class="nav nav-tabs mt-5">
						{% block breadcrumb %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('homepage') }}">Home</a>
							</li>
						{% endblock %}
					</ul>
				{% endif %}
			</div>
		</header>

		{% block body %}{% endblock %}

		<script>
			document.addEventListener('DOMContentLoaded', function () {
                bsCustomFileInput.init();
            });
		</script>
	</body>
</html>
